<strong> Olá, {{ name }}</strong>
<p>Você foi atribuído à uma entrega, seguem as informações:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    O produto já está disponível para retirada.
  </small>
</p>
